<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0"
		 xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd ">

	<servlet>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>de.fk.wlp.ServletWeb1</servlet-name>
		<servlet-class>de.fk.wlp.ServletWeb1</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>de.fk.wlp.ServletWeb1</servlet-name>
		<url-pattern>/servlet/*</url-pattern>
	</servlet-mapping>

	<env-entry>
		<env-entry-name>value-for-web1</env-entry-name>
	</env-entry>

</web-app>
